[submodule "external/oscpp"]
	path = external/oscpp
	url = https://github.com/kaoskorobase/oscpp.git
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio.git
