on:
  pull_request:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.name }}
    strategy:
      matrix:
        include:
          - name: macOS-arm64
            os: macos-latest
            cmakePresetName: macOS

          - name: macOS-x86-64
            os: macos-15-intel
            cmakePresetName: macOS

          - name: Linux-x86-64
            os: ubuntu-latest
            cmakePresetName: Linux

          - name: windows-x86-64
            os: windows-2022
            cmakePresetName: Windows

    env:
      SC_SRC_PATH: ${{ github.workspace }}/supercollider
      BUILD_PATH: ${{ github.workspace }}/build
      INSTALL_PATH: ${{ github.workspace }}/install
      ARCHIVE_NAME: OSCMessenger-${{ matrix.name }}.zip

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Checkout SuperCollider
        uses: actions/checkout@v4
        with:
          repository: supercollider/supercollider
          path: ${{ env.SC_SRC_PATH }}
          ref: main

      - name: Configure CMake
        shell: bash
        run: cmake --preset ${{ matrix.cmakePresetName}}

      - name: Build
        shell: bash
        run: cmake --build build --target install --config Release

      - uses: actions/upload-artifact@v4
        with:
          name: "OSCMessenger_${{matrix.name}}_${{github.sha}}"
          path: install/
